<div>
  <h1>About Us</h1> <br>
  <div class="card">
    <h2 class="card-title" style="text-align: center;">Welcome to The JUNGLE</h2>
    <h3 class="card-subtitle" style="text-align: center;">Where we have fun and games with plants! </h3> <br>
    <p class="card-text">Step into <strong>The Jungle</strong>, where the greenery is as wild as a Guns N' Roses guitar riff! At The Jungle, we've cultivated a paradise for plant enthusiasts, and we're not just talking about roses—we're talking about an entire botanical symphony. Just like Axl Rose belting out "Welcome to the Jungle," our plants are here to make a statement. Imagine navigating through our online oasis, where every click is a step deeper into the lush world of ferns, succulents, and blooms that rock your gardening world.
    </p>
    <p>So, welcome to The Jungle – where the only thing wilder than our plants is the joy they bring. It's not just a shop; it's an adventure. Are you ready to rock your green thumb?</p>
  </div>
</div>
